body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
<<<<<<< HEAD

=======
>>>>>>> c2661f44b5accca18e387919d966359813a2bb13
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
<<<<<<< HEAD

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}


=======
>>>>>>> c2661f44b5accca18e387919d966359813a2bb13
